* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: gray;
    height: 3rem;
    margin-bottom: 1rem;
}

.toolbar {
    background-color: coral;
    height: 3rem;
}

.logo-name {
    display: inline;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    background-color: grey;
}